/* Resetando configuração padrão do navegador 
e aplicando fonte*/
*{
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
/* Cabeçalho */
#logo {
    width: 750px;
    margin: 0 auto;
    height: 150px;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(..//imagens/logo.png) no-repeat left top;
    /* Melhor abordagem para esconder texto para o usuário
    para não utilizar o display-none */
    text-indent: -3000px;
}

/* Barra de navegação */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul {
    background: #b10333;
    margin-top: 35px;
    float: left;
}

#topo ul li {
    float: left;
}

#topo ul a {
    color: white;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#topo ul .primeira a {
    background: none;
}

#topo ul a:hover {
    color: #69001d;
    transition: 0.3s all;
}

/* Corpo da página */

body{
    background: #fff url(../imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}